html { font-size:100%; }
@media (min-width: 640px) { body {font-size:1rem;}} 
@media (min-width:960px) { body {font-size:1rem;}} 
@media (min-width:1100px) { body {font-size:1.5rem;}}



@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
 }

* {
  margin :0;
  padding : 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-container{
  background-color: #DEDEDE;
  display : flex;
  width : 250px;
  flex-direction: column;
  height : 100vh;
  
}

.menu-item{
  border-right : 3px solid #DEDEDE;
  padding : 10px;
}

.menu-item:hover{
  background-color : #CECECE;
  transition : 0.25s;
  border-color : #0b6ba8;
  cursor : pointer;
}

.header {
  background-color: #f9f9f9;
  height : 15vh;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  position : fixed;
  top : 0;
  z-index : 10;
  box-shadow: 0 0 5px #999;
}

.flex-row-wrap{
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

}
.header-link{
  width:fit-content;
}

.header-logo {
  height: 100%;
}

.menu-items{
  flex : 20;
}

.flex-row{
  display : flex;
  flex-direction : row;
  position : fixed;
  top : 15vh;
  z-index : 2;
}

.hamburger-container{
  background-color : rgba(229,229,229,0.75);
  z-index : 50;
}

.hidden{
  transform: translateX(-250px);
  transition : transform ease-out 0.3s;
}

.shown{
  transform: translateX(0);
  transition : transform ease-in 0.3s;
}

.button-close-active:hover{
  background-color : rgba(205,92,92, 0.75);
}
/* css de la page d'accueil*/

.main-container{
  margin: 0 auto;
  margin-top:15vh;
  max-width: 1200px;
  width: 80%;
  background-color: #E9F1F7;
  /*box-shadow: 0 0 10px #999;*/
  padding: 25px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 85vh;
  height : fit-content;
}

.main-home {
  position: relative;
  width : 100%;
}

.main-home > h1 {
  color: #0B6BA8;
  height: fit-content;
  width: 100%;
  padding-bottom: 15px;
}

.flex-row-wrap > p {
  height: fit-content;
  padding-bottom: 15px;
  flex:2;
  margin : 20px;
  text-align: justify;
}

.flex-row-wrap > div {
  flex:1;
}

.flex-row-wrap > div > img{
  position : relative;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  width : 400px;
  margin : 0px 20px 0px 20px;
}

@media (max-width: 640px) { 
  .main-container{width: 100%;}
  .flex-row-wrap > div > img{margin : 0;}
} 