html { font-size:100%; }
@media (min-width: 640px) { body {font-size:1rem;}} 
@media (min-width: 960px) { body {font-size:1rem;}} 
@media (min-width: 1100px) { body {font-size:1rem;}}



@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

* {
  margin :0;
  padding : 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:visited{
  color: #272729;
}


.hidden{
  transform: translateX(-250px);
  transition : transform ease-out 0.3s;
}

.shown{
  transform: translateX(0);
  transition : transform ease-in 0.3s;
}

.flex-row-wrap{
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

}

.flex-row{
  display : flex;
  flex-direction : row;
  position : fixed;
  top : 15vh;
  z-index : 2;
}

.hamburger-container{
  background-color : rgba(229,229,229,0.75);
  z-index : 50;
}

.button-close-active:hover{
  background-color : rgba(205,92,92, 0.75);
}
/* css de la page d'accueil*/
/* 
.picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.card:hover .picture::before {
  height: 100%;
}


.vote {
  width: 100%;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.card:hover .vote {
  bottom: 0;
} */


/* card */
.information {
  position: absolute;
  width: 150px;
  height: 100%;
  background: #6495ED;
  transition: width 0.4s;
  overflow: hidden;
}

.card:hover .information {
  width: 100%;
  border-radius: 0 5px 5px 0;
}
