body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-container{
  background-color: #DEDEDE;
  display : flex;
  width : 20vw;
  min-width : 300px;
  flex-direction: column;
  height : 90vh;
  
}

.menu-item{
  border-right : 3px solid #DEDEDE;
  padding : 10px;
}

.menu-item:hover{
  background-color : #CECECE;
  transition : 0.25s;
  border-color : cyan;
  cursor : pointer;
}

.header{
  background-color: red;
  height : 10vh;
}

.menu-items{
  flex : 20;
}

.flex-row{
  display : flex;
  flex-direction : row;
}

.page{
  display : flex;
  flex-direction : row;
}
