html { font-size:100%; }
@media (min-width: 640px) { body {font-size:1rem;}} 
@media (min-width:960px) { body {font-size:1rem;}} 
@media (min-width:1100px) { body {font-size:1.5rem;}}



@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
 }

* {
  margin :0;
  padding : 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-container{
  background-color: #DEDEDE;
  display : flex;
  width : 250px;
  flex-direction: column;
  height : 100vh;
  
}

.menu-item{
  border-right : 3px solid #DEDEDE;
  padding : 10px;
}

.menu-item:hover{
  background-color : #CECECE;
  transition : 0.25s;
  border-color : #0b6ba8;
  cursor : pointer;
}

.header {
  background-color: #f9f9f9;
  height : 15vh;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  position : fixed;
  top : 0;
  z-index : 10;
  box-shadow: 0 0 5px #999;
}

.flex-row-wrap{
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

}
.header-link{
  width:fit-content;
}

.header-logo {
  height: 100%;
}

.menu-items{
  flex : 20;
}

.flex-row{
  display : flex;
  flex-direction : row;
  position : fixed;
  top : 15vh;
  z-index : 2;
}

.hamburger-container{
  background-color : rgba(229,229,229,0.75);
  z-index : 50;
}

.hidden{
  transform: translateX(-250px);
  transition : transform ease-out 0.3s;
}

.shown{
  transform: translateX(0);
  transition : transform ease-in 0.3s;
}

.button-close-active:hover{
  background-color : rgba(205,92,92, 0.75);
}
/* css de la page d'accueil*/

.main-container{
  margin: 0 auto;
  margin-top:15vh;
  max-width: 1200px;
  width: 80%;
  background-color: #E9F1F7;
  /*box-shadow: 0 0 10px #999;*/
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 85vh;
  height : fit-content;
}

.clickable:hover{
  cursor : pointer;
}

.main-home {
  position: relative;
  width : 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.main-title {
  color: #0B6BA8;
  height: fit-content;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
}

.flex-row-wrap > p {
  height: fit-content;
  padding-bottom: 15px;
  flex:2;
  margin : 20px;
  text-align: justify;
}

.flex-row-wrap > div {
  flex:1;
}

.flex-row-wrap > div > img{
  position : relative;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  width : 400px;
  margin-right : 20px;
}

.div-elections {
  background-color: white;
  padding: 40px;
  padding-bottom: 10px;
}

.div-election {
  background-color: white;
  border: 1px solid;
  border-color: #0B6BA8;
  padding: 30px;
  padding-bottom: 80px;
  margin-bottom: 30px;
}

.btn-vote {
  min-width: 200px;
  background-color: #0B6BA8;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
  float: right;
  margin-top: 15px;
}

.btn-result {
  min-width: 200px;
  background-color: #009F79;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
  float: right;
  margin-top: 15px;
}

.btn-soon {
  min-width: 200px;
  background-color: #A63950;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
  float: right;
  margin-top: 15px;
}

.btn-filtre-vote{
  width: 33%;
  background-color: #0B6BA8;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-filtre-result{
  width: 34%;
  background-color: #009F79;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
}


.btn-filtre-soon{
  width: 33%;
  background-color: #A63950;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.information {
  border-bottom: groove;
  border-color: red;
  margin-top: 5px;
  justify-content: center;
  
}

.profil-form {
  background-color: white;
  border: 1px solid;
  border-color: #0B6BA8;
  padding: 30px;
  margin-bottom: 100px;
  background-color: white;
  padding-bottom: 30px;
  margin: auto;
  position: relative;
}

.left-block {
  margin-right: auto;
  resize: none;
}

  .right-block {
  position:absolute; right:0;
} 

* {
  padding: 0;
  border: none;
  outline: none;
}

.contact-form {
  margin: 10rem auto 0;
  margin-top: -2px;
  margin-bottom: 15%;
  max-width: 50%;
  max-width: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #0B6BA8;
  background: white;
  padding: 30px 30px 10px;
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.637);
  border-width: 0.30em;
}

.block-align {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 2em;
  margin-top: 40px;
  position: relative;
}

 .block-align :first-child {
      align-self: center;
  }

h2 {
  margin-top: 25px;
  text-align: center;
}

.form-content {
  display: grid;
}

input,
textarea {
  background: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  border-bottom: 1px solid#18dcff;
  color: #18dcff;
}

input::placeholder, 
textarea::placeholder {
 color: rgb(190, 188, 188);
}

input,
.email-content,
textarea {
  width: 100%;
  margin: 0 auto;
}

input {
  padding: 24px 0 12px;
}

.email-content {
  position: relative;
}
.email-content input {
  width: 100%;
}
#not-mail {
  display: none;
  position: absolute;
  top: 4px;
  color: #ff4d4d;
  right: 0;
  transform-origin: 50% 50%;
}

textarea {
  resize: none;
  padding: 24px 0;
}

.button {
  margin-left: 33%;
  margin-top: 20px;
  width: 33%;
  background-color: #0B6BA8;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.buttonProfil {
  margin-top: 30px;
  width: 30%;
  background-color: #0B6BA8;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;

}

.button:hover {
  letter-spacing: 1px;
}

.error::placeholder {
  color: #ff4d4d;
}

.form-message {
  margin-top: 10px;
  padding: 12px;
  opacity: 0;
  transition: 0.2s ease;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}

.br {
  padding-bottom: 20px;
  padding-right: 100px;
}

.br1 {
padding-bottom: 20px;
padding-right: 20px;
}

.h3 {
  margin-top: 40px;
}